
{% block body %}
    <div style="margin: 10px">
        <h1>{{ post.id ? 'Edit Post' : 'Create New Post' }}</h1>

        {{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">{{ post.id ? 'Update' : 'Create' }}</button>
            <a href="{{ path('app_post_index') }}" class="btn btn-secondary">Back to List</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
