{% extends 'base.html.twig' %}

{% block title %}Post List{% endblock %}

{% block body %}
    <h1>Post List</h1>

    <a href="{{ path('app_post_new') }}" class="btn btn-primary mb-3">Create New Post</a>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-sm btn-info">Show</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No posts found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
